body {
	margin: 15px;
	font-size: 15px;
}
.form-group:last-child {
	margin-bottom: 0;
}
.table th.min-w,
.table td.min-w {
	width: 1px;
}
span.count {
	display: inline-block;
	font-weight: 700;
	padding-right: 5px;
}
.table > thead > tr > td.deleted, .table > tbody > tr > td.deleted, .table > tfoot > tr > td.deleted, .table > thead > tr > th.deleted, .table > tbody > tr > th.deleted, .table > tfoot > tr > th.deleted, .table > thead > tr.deleted > td, .table > tbody > tr.deleted > td, .table > tfoot > tr.deleted > td, .table > thead > tr.deleted > th, .table > tbody > tr.deleted > th, .table > tfoot > tr.deleted > th {
	background-color: #444;
	color: #fff;
}
.table-hover>tbody>tr>td.deleted:hover, .table-hover>tbody>tr>th.deleted:hover, .table-hover>tbody>tr.deleted:hover>td, .table-hover>tbody>tr:hover>.deleted, .table-hover>tbody>tr.deleted:hover>th {
	background-color: #333;
}